@model IEnumerable<shopdotnet.Data.Entities.Category>

@{
    ViewData["Title"] = "Index";

}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Categorias</h3>
            </div>
            <div class="panel-body">
                <p class="text-end">
                    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Crear Nueva Categoria</a>
                </p>
                <table class="table table-hover table-responsive table-striped" id="TablaCategorias">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Category_Name)
                            </th>
                            <th class="text-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>

                                <td style="vertical-align: middle;">
                                    <a asp-action="Details" asp-route-id="@item.Category_ID" class="rowclick">
                                        @Html.DisplayFor(modelItem => item.Category_Name)
                                    </a>
                                </td>
                                <td class="text-end">
                                    <a asp-action="Edit" asp-route-id="@item.Category_ID" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i> Editar</a>
                                    <a asp-action="Delete" asp-route-id="@item.Category_ID" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i> Borrar</a>
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#TablaCategorias').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                },
                "aLengthMenu": [
                    [5, 25, 50, 100, 200, -1],
                    [5, 25, 50, 100, 200, "Todos"]
                ]
            })
        })
    </script>
}

